#navigation{
  font-size:140%;
  font-family: Amatic SC;
  font-weight:bold;
  margin-top:2%;
  white-space: nowrap;
}
#home_title{
  margin-left: 19%;
  font-size: 160%;
  font-family: Amatic SC;

}
#nav1{
  color: black;
  text-decoration: none;
  font-family: Open Sans Condensed;
  margin-left: 3%;
  margin-top: 3%;
}
#nav2{
  color: black;
  text-decoration: none;
  font-family: Open Sans Condensed;
  margin-left: 2%;
}
#nav3{
  color: black;
  text-decoration: none;
  font-family: Open Sans Condensed;
  margin-left: 15%;
}
#nav4{
  color: black;
  text-decoration: none;
  font-family: Open Sans Condensed;
  margin-left: 2%;
  margin-right: 3%;
}
